#txt {
  margin: auto;
  font-size: 30px;
  text-align: center;
  padding-block: 10px;
}

#three {
  margin: auto;
  font-size: 50px;
  text-align: center;
  padding-block: 10px;
}

#steps {
  display: flex;
  justify-content: center;
}

.MuiCardMedia-img {
  width: 100%;
  height: auto;
}

.css-o69gx8-MuiCardMedia-root {
  object-fit: fill;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  margin: 10px;
}
